@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  font-family: "Roboto", ‘ヒラギノ角ゴシック’, ‘メイリオ’, sans-serif;
}

* {
  box-sizing: border-box;
}

/* ----------SLIDER SAMPLE 1---------- */
.swiper-sider1-container {
  width: 100%;
  height: 800px;
  background: #fff;
  margin-bottom: 200px;
}

.slider1-img01 {
  background-image: url(../img/slider01-01.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider1-img02 {
  background-image: url(../img/slider01-02.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider1-img03 {
  background-image: url(../img/slider01-03.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider1-h2 {
  font-size: 64px;
  color: #fff;
  letter-spacing: 0.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* ----------SLIDER SAMPLE 2---------- */
.swiper-slider2-container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.swiper-slider2-container img {
  width: 100%;
}

.swiper-slider2-button-prev {
  left: -50px;
}

.swiper-slider2-button-next {
  right: -50px;
  transform: scale(-1, 1);
}

.slider2-pagenation-wrapper {
  position: relative;
  padding-top: 20px;
  margin-left: 30px;
}

.slider2-h2 {
  font-size: 64px;
  letter-spacing: 0.3em;
  text-align: center;
  display: block;
}

@media (max-width: 900px) {
  .swiper-slider2-container {
    width: 90%;
    margin: 0 auto;
  }
}

/* ----------SLIDER SAMPLE 3---------- */
.slider3-h2 {
  font-size: 64px;
  letter-spacing: 0.3em;
  text-align: center;
  display: block;
  margin-bottom: 80px;
}

.swiper-slider3-container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider3 {
  width: 850px;
  position: relative;
}

.slider3-card {
  width: 250px;
  border-radius: 20px;
  box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.1), 3px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slider3-card .number {
  font-size: 86px;
  text-align: center;
  margin-bottom: 15px;
}

.slider3-card .text {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .swiper-slider3-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .slider3 {
    width: 100%;
  }
  .slider3-card {
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
